footer.site-footer
  .container
    p.site-footer__copyright
      | © 2018 Copyright:&nbsp
      a.footer-link(href='https://github.com/RevJay')
        strong  RevJay

//footer.page-footer.font-small.blue-grey.lighten-5.pt-0.line
  // Copyright
  .footer-copyright.py-3.text-center
    | © 2018 Copyright:
    a(href='https://github.com/RevJay')
      strong  RevJay
