footer.container-fluid.footer-fluid
    .container
        .row
            .col-md-12.footer-style
                | © 2018 Copyright: 
                a.footer_link(href='https://github.com/RevJay', tabindex='-1')
                    strong
                        | RevJay