footer.site-footer
    //.row.footer-row(style="border-bottom: 2px solid #262633;")
    .container.footer-row
        .row
            .col-sm-4
            .col-sm-3
                br
                h5.foo x86-based systems:
                ul(type='none')
                    for i in fam86
                        li: p
                            a.foo-link(href="/kernels/#{i}" tabindex="-1") #{i} (x86)
            .col-sm-3
                br
                h5.foo x64-based systems:
                ul(type='none')
                    for i in fam64
                        li: p
                            a.foo-link(href="/kernels/#{i}" tabindex="-1") #{i} (x64)
            .col-sm-2
    hr(style="border-bottom: 2px solid #262633;")
    .container(style="padding-top: 10px;")
        p.site-footer__copyright
          | © 2018 Copyright:&nbsp
          a.footer-link(href='https://github.com/RevJay' tabindex="-1")
            strong RevJay
