footer.container-fluid.footer-fluid
    .container
        .row
            .col-md-12.footer-style
                a.footer_link(href='/terms', tabindex='-1')
                    strong
                        | Terms of Service&nbsp;
                span(style="color: #262633") |
                a.footer_link(href='/privacy', tabindex='-1')
                    strong
                        | &nbsp;Privacy Policy&nbsp;
                span(style="color: #262633") |
                | &nbsp;© 2018 Copyright: 
                a.footer_link(href='https://github.com/RevJay', tabindex='-1')
                    strong
                        | RevJay&nbsp;


