footer.site-footer(style="background-color: #080817 !important;")
    .row(style="margin: 0px !important; background-color: #141422 !important; padding-top: 10px;")
        .col-sm-3
        .col-sm-6
            p.site-footer__copyright(style="margin-top: 10px;")
                | © 2018 Copyright:&nbsp
                a.footer-link(href='https://github.com/RevJay' tabindex="-1")
                    strong RevJay
        .col-sm-3
