footer.container-fluid.footer-fluid
    .container
        .row.footer-style
            .col-md-10
                a.footer_link(href="/terms" tabindex="-1")
                    strong Terms of Service
                span(style="color: #262633") &nbsp;|&nbsp;
                a.footer_link(href="/privacy" tabindex="-1")
                    strong Privacy Policy
                span(style="color: #262633") &nbsp;|&nbsp;
                a.footer_link(href="https://github.com/VergiliusProject/vergilius-project/issues" tabindex="-1")
                    strong Report a Bug
                span(style="color: #262633") &nbsp;|&nbsp;
                | © 2018-2024 Copyright 
                a.footer_link(href="https://github.com/VergiliusProject" tabindex="-1")
                    strong VergiliusProject
            .col-md-2.d-none.d-md-block
                small revision #{gitHash}