head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='twitter:card', content='summary')
    meta(property='og:url', content='https://www.vergiliusproject.com')
    meta(property='og:title', content='Vergilius Project')
    meta(property='og:description', content='Take a look into the depths of Windows kernels and reveal more than 60000 undocumented structures.')
    meta(property='og:image', content='https://www.vergiliusproject.com/images/bigback.jpg')
    block title
        title Vergilius Project
    link(href="/images/favicon.ico" rel="icon" type="image/x-icon")
    link(rel="stylesheet", href="/css/dracula.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel="stylesheet", href="/css/verg.css")
    link(rel="stylesheet", href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d")
    link(rel="prefetch" href="/images/bigback.jpg")
    link(rel="prefetch" href="/images/abstrHalf.jpg")
    link(rel="prefetch" href="/images/edit.png")
    link(rel="prefetch" href="/images/inter.jpg")
    link(rel="prefetch" href="/images/lonelysturn.jpg")
    link(rel="prefetch" href="/images/mainpla.png")
    link(rel="prefetch" href="/images/man.jpg")
    link(rel="prefetch" href="/images/multlong2.jpg")
    link(rel="prefetch" href="/images/newfam.jpg")
    link(rel="prefetch" href="/images/view.jpg")
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-130860740-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-130860740-1');
        gtag('set', 'anonymizeIp', true);
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js', integrity='sha384-cV+rhyOuRHc9Ub/91rihWcGmMmCXDeksTtCihMupQHSsi8GIIRDG0ThDc3HGQFJ3', crossorigin='anonymous')
    script(src="/js/highlight.pack.js")
    script hljs.initHighlightingOnLoad();



