head
    meta(charset='utf-8')
    block title
        title Vergilius Project
    link(href="/images/favicon.ico" rel="icon" type="image/x-icon")
    link(rel="stylesheet", href="/css/verg.css")
    link(rel="stylesheet", href="/css/dracula.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
    script(src='//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js')
    script(src="/js/highlight.pack.js")
    script hljs.initHighlightingOnLoad();



