head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="twitter:card", content="summary")
    meta(property="og:url", content="https://www.vergiliusproject.com")
    meta(property="og:title", content="Vergilius Project")
    meta(property="og:description", content="Take a look into the depths of Windows kernels and reveal more than 60000 undocumented structures.")
    meta(property="og:image", content="https://www.vergiliusproject.com/images/bigback.jpg")
    block title
        title Vergilius Project
    link(href="/images/favicon.ico" rel="icon" type="image/x-icon")
    link(rel="stylesheet", href="/css/dracula.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/verg.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/socicon@3.0.5/css/socicon.min.css")
    link(rel="prefetch" href="/images/bigback.jpg")
    link(rel="prefetch" href="/images/abstrHalf.jpg")
    link(rel="prefetch" href="/images/edit.png")
    link(rel="prefetch" href="/images/inter.jpg")
    link(rel="prefetch" href="/images/lonelysturn.jpg")
    link(rel="prefetch" href="/images/mainpla.png")
    link(rel="prefetch" href="/images/man.jpg")
    link(rel="prefetch" href="/images/multlong2.jpg")
    link(rel="prefetch" href="/images/newfam.jpg")
    link(rel="prefetch" href="/images/view.jpg")
    script(async="", src="https://www.googletagmanager.com/gtag/js?id=UA-130860740-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-130860740-1");
        gtag("set", "anonymizeIp", true);
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js", integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js", integrity="sha384-cV+rhyOuRHc9Ub/91rihWcGmMmCXDeksTtCihMupQHSsi8GIIRDG0ThDc3HGQFJ3", crossorigin="anonymous")
    script(src="/js/highlight.pack.js")
    script hljs.initHighlightingOnLoad();