nav.navbar.navbar-expand-lg.navbar-light.bg-light.line2
    h3.navbar-brand-md(style='width: 185px;') Vergilius Project
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor03', aria-controls='navbarColor03', aria-expanded='false', aria-label='Toggle navigation', style='')
        span.navbar-toggler-icon
    #navbarColor03.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    h6 Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/about')
                    h6 About
        ul.nav.navbar-nav.navbar-right
            li
                a.nav-link(href='/loginform')
                    h6 Admin




