nav.site-header
    .site-header__container.header-sticky
        .logoblock
            a.header-logo__image(href='/' tabindex="-1")
            h1.title VERGILIUS
        ul.site-header__links
            if selected == "Home"
                li
                    a.header-link.active(href='/' tabindex="-1") Home
            else
                li
                    a.header-link(href='/' tabindex="-1") Home
            if selected == "Kernels"
                li
                    .dropdown
                        button.dropbtn(tabindex="-1")
                            a.header-link.active(href='/kernels' tabindex="-1") Kernels
                        .dropdown-content
                            ul(type='none')
                                for i in families
                                    li: p
                                        a.drp(href="/kernels/#{i}") #{i}
            else
                li
                    .dropdown
                        button.dropbtn(tabindex="-1")
                            a.header-link(href='/kernels' tabindex="-1") Kernels
                        .dropdown-content
                            ul(type='none')
                                for i in families
                                    li: p
                                        a.drp(href="/kernels/#{i}") #{i}
            if selected == "Statistics"
                li
                    a.header-link.active(href='/statistics' tabindex="-1") Statistics
            else
                li
                    a.header-link(href='/statistics' tabindex="-1") Statistics
            if selected == "About"
                li
                    a.header-link.active(href='/about' tabindex="-1") About
            else
                li
                    a.header-link(href='/about' tabindex="-1") About
            if selected == "Admin"
                li
                    a.header-link.active(href='/admin' tabindex="-1") Admin
            else
                li
                    a.header-link(href='/admin' tabindex="-1") Admin





