nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand Vergilius Project
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    | Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/admin') Admin
            li.nav-item
                a.nav-link(href='/about') About


