button, figure {
    margin:0;
}

dl dd, dl dt, h3, h4, h5, h6, ol li, ul li {
    /*line-height:1.7rem;*/
}

ul {
    padding-left:0;
}

dl a, ol a, p a, ul a {
    font-weight:700;
    text-decoration:none;
}

a, body {
    font-family:"Open Sans", sans-serif;
}

p {
    font-family:"Open Sans", sans-serif;

}
blockquote, p {
    /*line-height:1.7rem;*/
    font-weight: 600;
    color: #1CC1CC;
}

#copy-button
{
    font-size: 18px;
    font-weight: 500;
    border-radius: 0.5rem;
    border: transparent;
    float: right;
    color: white;
}

body, html {
    height: 100%;
}

.hljs-title
{
    font-weight: normal !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
} ul {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

.nothing
{
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    padding-top: 5px;
    font-size: 20px; font-weight: 600;
    color: white;
    text-align: left;
}

a.related
{
    padding-left: 5px;
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
    color: #8be9fd;
}

a.related:hover
{
    color: #8be9fd;
    text-decoration: none;
}

h2.text-center
{
    font-weight: 900;
    margin-top: 8px;
}
h2.text-center.maincap
{
    /*font-size: 85px;*/
    font-size: 8.5rem;
}

#myInput::placeholder
{
    color: #404040;
}

/* Wizard */
.bs-wizard
{
    padding: 0 0 10px 0;
    margin-top: 40px;
}
.bs-wizard > .bs-wizard-step
{
    padding: 0;
    position: relative;
}

.toprow
{
    margin-bottom: 10px;
}

.bottomrow
{
    margin-bottom: 20px;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum
{
    color: rgb(255, 245, 197);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info
{
    color: #ffffff;
    font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot
{
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #ed2724;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after
{
    content: ' ';
    width: 14px;
    height: 14px;
    background: #ffaa18;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress
{
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 17px 0;
    background-color: #005495;
}

.bs-wizard > .bs-wizard-step.disabled > .progress
{
    background: repeating-linear-gradient(
            to right,
            #262633,
            #262633 12px,
            #005495 2px,
            #005495 28px
    );
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar
{
    width:0px;
    box-shadow: none;
    background: #005495;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar
{
    width:100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar
{
    width:50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar
{
    width:0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar
{
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot
{
    /*disabled dots color*/
    background-color: #005495;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after
{
    opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child  > .progress
{
    left: 50%;
    width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child  > .progress
{
    width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot
{
    pointer-events: none;
}
.wizard-links
{
    color: rgb(234, 216, 126);
    font-size: 18px;
}
.wizard-links:hover
{
    text-decoration: none;
    color: yellow;
}

.hljs {
    min-height: 675px;
}

#copyblock {
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 3px;
    min-height: 200px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

pre
{
    border-radius: 0.7rem;
    margin-bottom: 0px !important;
    min-height: 300px;
}
.logout, .logout:hover
{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.arch-li
{
    position: relative;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    right:-100px;
    height: 240px;
}

.arch
{
    float: left;
    padding: 10px;
    margin-left: 5px;
}

.img-circle
{
    width: 185px;
    height: 188px;
    position: relative;
}

.smcircle
{
    /*
    width: 105px;
    height: 108px;
    */
    width: 10.5rem;
    height: 10.8rem;
    position: relative;
}

.sm-timeline {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*
.sm-min-col
{
    min-height: 124px;
}
*/
.footer-fluid
{
    border-top: solid 2px #262633;
    background: #141422;
}
.footer-style
{
    padding: 25px;
    text-align:center;
    color:#D0D0D2;
    font-size: 15px;
    font-weight: 600;
}
.footer_link
{
    color: #E0CD61;
}
.footer_link:hover
{
    color: #E0CD61;
    text-decoration: none;
}

body
{
    background-color:#141422 !important;
    background-image: url("/images/abstrHalf.jpg") !important;
}

.bg-dark
{
    background-color: #141422 !important;
    border-bottom: solid 2px #262633;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.logo
{
    vertical-align: text-bottom;
    margin-right: 5px;
}

/* title (uppercase) in topbar */
.navbar-light .navbar-brand
{
    color: #f6f1a3;
    font-size: 50px;
    font-weight: 900;
}

a.navbar-brand
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-light .navbar-brand:hover
{
    color: #f6f1a3;
    text-decoration: none;
}

.navbar-light .navbar-brand:focus
{
    color: #f6f1a3;
    text-decoration: none;
}


/* topbar (menu) links */
.navbar-light .navbar-nav .nav-link
{
    color: #E0CD61;
    font-weight: 700;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    color: #E0CD61;
    border-bottom: solid 3px yellow;
    text-decoration: none;
}

a.nav-link.active
{
    border-bottom: solid 3px rgba(208, 208, 210, 0.5);
    text-decoration: none;
}

/*header links won't be dark*/
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #E0CD61;
}

.navbar-light .navbar-nav .nav-link:focus
{
    color: #E0CD61;
    text-decoration: none;
}

/* toggler (button) */
.navbar-toggler
{
    background-color: #015597;
}

.dropdown-menu
{
    background:#262633;
    border: 0;
    border-left: solid 3px #141422;
    border-bottom: solid 3px #141422;
    border-radius: 0;
}
.dropdown-item
{
    color: #E0CD61;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

.dropdown-menu-style
{
    min-width: 560px;
}

.dropdown-item.blue-item
{
    color:#1cc1cc;
    font-weight: 900;
    font-size: 23px;
}

.no-pad
{
    padding: 0px;
}

.jumb-home
{
    background: url("/images/bigback.jpg");
    min-height: 800px;
    background-color: #040c13;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0px;
}

.h2-home
{
    font-weight: 800;
    font-size: 48px;
    color: white;
    text-align: right;
    text-shadow: 0 0 3px red;
}
.h3-home
{
    text-align:left;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0 0 3px black;
    color: #8894ae;
}

/* white buttons-links */
.btn
{
    transition: none !important;
}

a.btn-styled
{
    display: inline-block;
    border-radius: 0.5rem;
    border: solid 4px white;
    padding: 10px 25px;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
}

a.btn-styled:hover
{
    text-decoration: none;
    color: white;
}

a.btn-styled:active
{
    box-shadow: none;
}

a.btn.btn-styled.explore
{
    text-shadow: 0 0 3px red;
}

a.btn.btn-styled.explore:hover
{
    text-shadow: 0 0 5px white;
    box-shadow: 0px 0px 10px antiquewhite;
}


.jumb-error
{
    background: url("/images/austro2.jpg");
    min-height: 800px;
    background-color: #040c13;
    height: 50%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0px;
}

h2.err {
    font-weight: 700;
    color: #E0CD61;
    font-size: 40px;
}

h1.err
{
    font-weight: 900;
    color: white;
    font-size: 85px;
}

h1.super-err
{
    font-weight: 900;
    color: white;
    font-size: 200px;
}

.breadcrumbs-col
{
    margin-top: 15px;
    font-size: 1.6rem;
    line-height: 3.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: white;
    content: "/";
    font-weight: 600;
}

.breadcrumb
{
    color: white;
    background-color: #262633;
    font-weight: 600;
}

.breadcrumb-item.active {
    color: white;
    font-weight: 600;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0px;
}

.breadcrumb-link
{
    color: white;
    font-weight: 600;
    margin-right: 8px;
}

a.breadcrumb-link:hover
{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.mainblock
{
    min-height: 660px;
    background: #141422;
}

.mainblock-content
{
    min-height: 660px;
    background: #262633;
    border-radius: 0.3rem;
    margin-bottom: 15px;
    color: #1cc1cc;
    font-weight: 600;
    font-size: 18px;
}

.kernels-bg
{
    background-image: url('/images/multi.png');
}

.h1-kernels
{
    font-size: 90px;
    font-weight: 900;
    display: block;
    padding-top: 30px;
    text-shadow: 0 0 10px black;
}

.kernels-column
{
    text-align: center;
    padding-top: 50px;
}

a.kernels-button {
    text-align: right;
    font-size: 90px;
    color: antiquewhite;
    font-weight: 900;
    display: inline;
    border-radius: 0.8rem;
    padding-left: 50px;
    padding-right: 10px;
    border: solid 4px antiquewhite;
    text-shadow: 0 0 15px black;
}

a.kernels-button:hover
{
    text-decoration: none;
    text-shadow: 0 0 5px;
    box-shadow: 0px 0px 10px antiquewhite;
    color: antiquewhite;
}

.about-contact-col
{
    color: #1cc1cc;
    text-align: left;
    padding-top: 27px;
    padding-left: 35px;
}
a.about-links
{
    color: #1cc1cc;
}
a.about-links:hover
{
    color: #1cc1cc;
    text-decoration: none;
}
.white-text
{
    color: white;
}

.jumb-about
{
    filter: grayscale(20%);
    border: solid 2px #262633;
    border-radius: 0.6rem;
    background: url('/images/man.jpg');
    background-color: #040c13;
    min-height: 350px;
    margin-bottom: 15px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.h1-title-about
{
    text-align: center;
    font-weight: 800;
    font-size: 65px;
    color: #e6b36b;
    text-shadow: 0 0 30px #420f11;
}

h3.h3-about
{
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 35px;
}
.about-info
{
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    color: #1cc1cc;
}
.about-column
{
    padding-bottom: 25px;
    border-bottom: solid 3px #141422;
    margin-bottom: 10px;
}
.about-row
{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

img.about-img
{
    border: solid 5px #141422;
    border-radius: 100%;
    margin: 10px;
}

img.about-img.img-left
{
    float: left;
    margin-right: 20px;
}

img.about-img.img-right
{
    float: right;
    margin-left: 20px;
}
img.round-pic
{
    float: left;
    background-color:#141422;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.login-form
{
    width: 335px;
    font-weight: 500;
}
.submit-but
{
    text-align: right;
    width: 300px;
}
form.form-horizontal
{
    width: max-content;
    height: max-content;
}
.h3-login
{
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

#myInput {
    display: block;
    float: left;
    background-color: #1a1825;
    border: solid 1px #f3f1de;
    color: #bfe4ca;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 0px 5px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.caption
{
    display: block;
    width: 195px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 36px;
}

.list-link {
    display: block;
    font-size: 23px;
    color: #bfe4ca;
    padding-left: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.list-link:hover
{
    color: #bfe4ca;
    text-decoration: none;
}

.tdata-code
{
    background-color: #282a36;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 400;
    min-height: 400px;
    margin-bottom: 15px;
}
.maincross {
    background-color: #262633;
    border-radius: 0.5rem;
    color: #bfe4ca;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    min-height: 140px;
    margin-bottom: 15px;
}
.h2-tdata
{
    font-weight: 800;
    font-size: 33px;
    color: #1cc1cc;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.h4-tdata
{
    color: #1cc1cc;
    font-weight: 600;
}

#password
{
    width: 90%;
}
#username
{
    width: 90%;
}

.img-arch
{
    border: 7px solid #03031f;
    border-radius: 100%;
    background-color: black;
    box-shadow: 0 0 5px #4582ec;
}
a.arch-link
{
    color: #bfe4ca;
    font-weight:600;
    font-size: 35px;
    display: inline;
}

a.arch-link:hover
{
    color: #bfe4ca;
    text-decoration: none;
    display: inline;
}

.arch-line-new
{
    display: inline;
    content: "";
    position: absolute;
    top: 89%;
    bottom: 0;
    left: 75%;
    width: 4px;
    height:70px;
    background-color: #03031f;
    -ms-transform: rotate(-48deg);
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
    box-shadow: 0 0 5px #4582ec;
}

.arch-line-new-2{
    display: inline;
    content: "";
    position: absolute;
    top: 88%;
    bottom: 0;
    left: 22%;
    width: 4px;
    height:70px;
    background-color:#03031f;
    -ms-transform: rotate(48deg);
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    box-shadow: 0 0 5px #4582ec;
}

.timeline {
    position: relative;
    margin-top:20px;
    margin-bottom: 15px;
}

.new-small-line{
    display: inline;
    height: 70px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 77%;
    top: 72%;
    width: 4px;
    background-color: #03031f;
    transform: rotate(-43deg);
    box-shadow: 0 0 5px #4582ec;
}

.new-small-line-2{
    display: inline;
    height: 70px;
    top: 73%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 4px;
    background-color: #03031f;
    transform: rotate(43deg);
    box-shadow: 0 0 5px #4582ec;
}
a.fam-link
{
    color:  #bfe4ca;
    font-weight: 600;
    /*font-size: 23px;*/
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-decoration: none;
}

.family-col
{
    padding-left: 7px;
    padding-right: 0px;
}

p.family
{
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.8rem;
}
.arch-col-right
{
    text-align: right;
}

/* Extra small */
@media (max-width: 543px) {
    html
    {
        font-size: 3px;
    }
}
/* Small devices */
@media (min-width: 544px)
{
    html
    {
        font-size: 5px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    html
    {
        font-size: 7px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    html
    {
        font-size: 8px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    html
    {
        font-size: 10px;
    }
}

