body {
    font-size:106.25%;
    line-height:1;
    background-image: url("/images/abstr.jpg") !important;
    background-color:#141422 !important;
}
.header-sticky, transparent-header {
    position:relative;
    background:#141422;
}
body, button, figure {
    margin:0;
}
*, ::after, ::before {
    box-sizing:border-box;
}
.transparent-header .site-header {
    left:0;
    position:absolute;
    right:0;
    top:0;
}
.site-header {
    background-color:#141422;
    font-size: 1rem;
    width:100%;
}
.transparent-header .site-header {
    z-index:2000;
}

.element.style {
    background-color:rgba(20, 20, 34, 0.9);
}
.header-sticky {
    background-color:#141422;
    border-bottom:2px solid #262633;
    width:100%;
    z-index:100;
}
.site-header__container {
    background-color: rgba(20, 20, 34, 0.9);
    align-items:center;
    display:flex;
    height:70px;
    justify-content:space-between;

}
.site-footer ul li, .site-header__links li {
    display:inline-block;
    text-decoration:none;
}
dl dd, dl dt, h3, h4, h5, h6, ol li, ul li {
    line-height:1.7rem;
}

.container {
    padding-left:20px;
    padding-right:20px;
    padding-top: 5px;
    background:#141422;
}
.container.indent {
  padding-bottom: 10px;
}
.site-header__links {
    align-items:center;
    display:flex;
    font-size:18px;
    margin:0;
}
ul {
    padding-left:0;
}
ol, ul {
    margin-bottom:1.7rem;
    margin-top:1.7rem;
}

a.header-link {
    cursor:pointer;
}

.header-link {
    font-weight:700;
    padding:0.25em 0.75em;
    display:inline-block;
    margin-left:0.5em;
}
.header-link:hover
{
    border-bottom: solid 3px yellow;
    text-decoration: none;
}

.header-link.active
{
    border-bottom: solid 3px rgba(208, 208, 210, 0.5);
    text-decoration: none;
}

.transparent-footer--alt.index .site-footer .artist a, .transparent-header a.header-link {
    color:#E0CD61;
}

a.header-link, span.header-link.interactive {
    color:#E0CD61;
}

dl a, ol a, p a, ul a {
    font-weight:700;
    text-decoration:none;
}

a, body {
    font-family:"Open Sans", sans-serif;
}
.site-footer {
    border-top:2px solid #262633;
    font-size:0.95rem;
    background-color:#141422;
    width:100%;
}
.site-footer .container {
    padding-bottom:0.85rem;
    padding-top:0.85rem;
}
.site-footer__copyright {
    margin-top:5px;
    text-align:center;
    color:#D0D0D2;
}
p {
    font-family:"Open Sans", sans-serif;
    margin-bottom:0;
}
blockquote, p {
    line-height:1.7rem;
}

.mainblock {
    background-color:#262633;
    border-radius:0.5rem;
    color:#1CC1CC;
    min-height: 675px;
    font-size: 18px;
    font-weight: 400;
    /*padding: 25px 15px;*/
    padding-top: 20px;
    padding-bottom: 25px;
}
.mainblock p.cap
{
    font-weight: 600;
    font-size: 28px;
    padding-left: 10px;
}
.maincross
{
    background-color:#262633;
    border-radius:0.5rem;
    color:#1CC1CC;
    min-height: 275px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 8px;
}
.header-logo__image{
    height:54px;
    display: inline-block;
    text-align: right;
    /*width:340px;*/
    width: 60px;
    /*background-image:url("pp.png");*/
    background-image:url("/images/logo.png");
    background-repeat: no-repeat;
    border: none;
}
h1.title
{
    font-size: 50px;
    font-weight: 900;
    color: #f6f1a3;
    font-family: padmaa-Bold.1.1;
    vertical-align: text-bottom;
    text-align: right;
    display: inline-block;
    margin-bottom: 0px;
    line-height: 54px;
}
.logoblock
{
    /*border: 1px red solid;*/
    padding-top: 4px;
    height: 70px;
    width: 340px;
}

.footer-link:hover
{
    color:#E0CD61;
}
.footer-link {
    color:#E0CD61;
    font-size: 0.95rem;
    display:inline-block;
    line-height:1;
    text-decoration:none;
}
/* Style the list */
ul.breadcrumb {
    list-style: none;
    border-radius:0.5rem;
    background: #262633;
    font-weight: 700;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    /*padding: 1px; */
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}
.cmd
{
    color: white;
    padding-top: 5px;
    text-align: center;
    margin-top: 70px;
    height: 65px;
}
.listos
{
    font-size: 23px;
    color: #bfe4ca;
    padding-left: 30px;
}
a.listos:hover
{
    color: #bfe4ca;
}
#copy-button
{   margin-left: 1%;
    font-size: 18px;
    border-radius: 0.5rem;
    border: transparent;
    float: right;
    color: white;
    /*margin-right: 16px;*/
}
#copyblock
{
    padding-right: 15px;
    padding-bottom: 12px;
}
pre
{
    border-radius: 0.7rem;
}
.logout, .logout:hover
{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.hljs {
    min-height: 675px;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #141422;
    color: #E0CD61;
    padding: 5px 12px;
    font-size: 18px;
    font-weight:700;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262633;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color:  #E0CD61;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 180px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #262633;;
}
.drp, a.drp:hover
{
    color: #141422;
    text-decoration: none;
}
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background: url("/images/bigback.jpg");
    background-color: #040c13;
    min-height: 710px;
    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: right;
    position: absolute;
    top: 55%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text h1, h3 {
    font-weight: 900;
}
/*T I M E L I N E*/

.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
    position: relative;
    float: left;
    width: 41%;
    /*padding: 25px 20px 20px 30px;*/
    padding: 35px 30px 20px 20px;
    text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #03031f;
    border-radius: 100%;
    background-color: black;
    box-shadow: 0 0 5px #4582ec;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 35px 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;

}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 a{
    margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #bfe4ca;
    font-weight:600;
}

.timeline .timeline-heading h4.subheading {
    margin:0;
    padding:0;
    text-transform: none;
    font-size:18px;
    color:#D0D0D2;
    font-weight:300;
}

.akern{
    margin-bottom: 0;
    color: #ea6c2c;
    display: inline-block;
    width: 320px;
}
a.akern:hover
{
    color: #ea6c2c;
}

/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 640px; /*690*/
    width: 4px;
    height:340px;
    background-color: #03031f;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 370px; /*450*/
    width: 4px;
    height:340px;
    background-color:#03031f;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*small line*/
/*Style for even div.line*/
.timeline>li:nth-child(odd) .smallline:before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 520px; /*690*/
    width: 4px;
    height:140px;
    background-color: #03031f;
    transform: rotate(-42deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .smallline:before  {
    content: "";
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 452px; /*450*/
    width: 4px;
    height:150px;
    background-color:#03031f;
    transform: rotate(45deg);
    box-shadow: 0 0 5px #4582ec;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard
{
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step
{
    padding: 0;
    position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum
{
    color: rgb(255, 245, 197);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info
{
    color: #ffffff;
    font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot
{
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #ed2724;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after
{
    content: ' ';
    width: 14px;
    height: 14px;
    background: #ffaa18;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress
{
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 17px 0;
    background-color: #005495;
}

.bs-wizard > .bs-wizard-step
{
    margin-bottom: 65px;
}

.bs-wizard > .bs-wizard-step.disabled > .progress
{
    background: repeating-linear-gradient(
            to right,
            #262633,
            #262633 12px,
            #005495 2px,
            #005495 28px
    );
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar
{
    width:0px;
    box-shadow: none;
    background: #005495;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar
{
    width:100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar
{
    width:50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar
{
    width:0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar
{
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot
{
    /*disabled dots color*/
    background-color: #005495;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after
{
    opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child  > .progress
{
    left: 50%;
    width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child  > .progress
{
    width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot
{
    pointer-events: none;
}
.wizard-links
{
    color: rgb(255, 245, 197);
    /* border-bottom: 2px dashed yellow; */
}
.wizard-links:hover
{
    text-decoration: none;
    /*color: rgb(255, 245, 197);*/
    color: yellow;
}
/*END Form Wizard*/
a.btn-styled
{
    display: inline-block;
    border-radius: 0.5rem;
    border: solid 3px white;
    padding: 10px 25px;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
}
a.btn-styled:hover
{
    text-decoration: none;
    color: white;
}
a.btn-styled:active
{
    /* removed blue shadow*/
    box-shadow: none;
}
.str-link
{
    color: #f1fa8c;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;;
}
.str-link:hover
{
    text-decoration: none;
    /*color: #fae134;*/
    color: #fae134;
}

.str-link .hljs-title:hover
{
    text-decoration: none;
    color: #fae134 !important;
}

.hljs-title
{
    /*color: #f1fa8c !important;*/
    font-weight: normal !important;
}

.hljs-title:hover
{
    /*color: #f1fa8c !important;*/
}

/* STYLISH LIST*/
.addon {
    background: #262633;
    margin-bottom: 20px;
}

.addon li {
    padding: 10px;
    border-bottom: 3px solid rgb(20, 20, 34);
    overflow: hidden;
}
.addon li {
    list-style:none;
}

.clearfix {
    display: block;
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
} ul {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
ul {
    list-style: none;
}
.round {
    border-radius:100%;
    display: block;
    height: 100px;
    width: 100px;
    float: left;
}
.addon p {
    padding: 10px 15px;
    margin: 0;
    font: 600 16px/22px "myriad-pro",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.addon li .legend-info {
    float: left;
    margin-left: 10px;
    width: 900px;
    padding-bottom: 15px;
}

.addon strong {
    display: block;
    margin: 0 0 4px;
}

strong {
    font-weight: bold;
}
.vert
{
    border-left: 3px solid rgb(20, 20, 34);
    height: 595px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 535px;
}
.nothing
{
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    padding-top: 5px;
    font-size: 20px; font-weight: 600;
    color: white;
    text-align: left;
}