extends /partials/page

block title
    title Vergilius Project | 404
block content
    .jumbotron.jumbotron-fluid.jumb-error
        .container-fluid
            .row
                .col-md-6
                .col-md-6.error-col-1
                    h2.err
                        | - Houston, we have a problem...
            .row
                .col-md-6
                .col-md-6.error-col-2
                    h1.err
                        | Page not found
            .row
                .col-md-6
                .col-md-6.error-col-3
                    h1.super-err
                        | 404