extends /partials/page

block title
    title Vergilius Project
    -var selected = 'About';
block content
    .container
        .cmd(style="height:370px; margin-top: 85px;")
            img(src='/css/man.jpg' width='1078px' height='350px' style="filter:grayscale(20%); border: solid 2px #262633; border-radius: 0.6rem")
            h1.hero-text(style="text-align:center; font-weight:800; left:50%; top: 51%; font-size: 65px; color:#e6b36b; text-shadow: 0 0 30px #420f11;") VERGILIUS PROJECT
    .container.indent
        .mainblock(style="width:1080px; margin-left: 15px; margin-bottom: 20px;")
            .addon
                ul
                    li.clearfix
                        strong
                            h3(style="font-weight: 700; color: white; padding-left: 10px;") What is «Vergilius»?
                            img.round(src='/css/stars.gif' style="border: solid 3px rgb(20, 20, 34);")
                            .legend-info(style="text-align: justify;")
                                | It's easy to find a general information about any existing operating system,
                                | but when it comes to undocumented structures, which lie down somewhere in the
                                | depths of Windows' kernel, the task becomes more complicated and in this case even
                                | experienced developers need an assistant. If you looking for one - you're in the right
                                | place.
                                br
                                | Who can be a better guide in this dangerous and absolutely exciting trip to the&nbsp;
                                del Earth's core
                                | &nbsp;Windows' kernel then Vergilius, a man who literally went to Hell with Dante?
                                | Well, of course I can't offer you a company of ancient Roman poet, but this website
                                | with highlighted C/C++ syntax also will be helpful.
                                br
                                | Before you start, remember just two things:
                                br
                                | &nbsp; &#9989; &nbsp;The descent into Hell is easy.
                                br
                                | &nbsp; &#9989; &nbsp;Test your code well and test often!
                    li.clearfix
                        strong
                            h3(style="font-weight: 700; color: white; padding-left: 10px;") Caption here
                            img.round(src='/css/rocket.gif' style="border: solid 3px rgb(20, 20, 34);")
                            .legend-info(style="text-align: justify;")
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                | mollit anim id est laborum.
                    li.clearfix
                        strong
                            h3(style="font-weight: 700; color: white; padding-left: 10px;") Caption here too
                            img.round(src='/css/chel.gif' style="border: solid 3px rgb(20, 20, 34);")
                            .legend-info(style="text-align: justify;")
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                | mollit anim id est laborum.
