extends /partials/page

block title
    title Vergilius Project
    -var selected = 'About';
block content
    .container
        .cmd(style="height:370px; margin-top: 85px;")
            //ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item About
            img(src='/css/man.jpg' width='1080px' height='350px' style="filter:grayscale(20%); border-radius: 0.6rem")
    .container.indent
        .mainblock(style="width:1080px; margin-left: 15px; margin-bottom: 20px;")
            .addon
                h1(style="text-align:center; font-weight:800;") VERGILIUS PROJECT
                hr(style="border: solid 2px rgb(20, 20, 34);")
                ul
                    li.clearfix
                        strong My heart belongs to CSS!
                            img.round(src='/css/stars.gif' style="border: solid 3px rgb(20, 20, 34);")
                            .legend-info
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                | mollit anim id est laborum.
                    li.clearfix
                        strong My heart belongs to CSS!
                            img.round(src='/css/rocket.gif' style="border: solid 3px rgb(20, 20, 34);")
                            .legend-info
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                | mollit anim id est laborum.
                    li.clearfix
                        strong My heart belongs to CSS!
                            img.round(src='/css/chel.gif' style="border: solid 3px rgb(20, 20, 34);")
                            .legend-info
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                | mollit anim id est laborum.
