extends /partials/page
block title
    title Vergilius Project | Kernels
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container.mainblock
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex='-1') > Home
                        li.breadcrumb-item.active(aria-current='page') About
        .jumbotron.jumbotron-fluid.jumb-about(style='padding-bottom: 0px;')
            .container-fluid
                .row
                    .col-md-12(style='padding-top: 200px;')
                        h1.h1-title-about VERGILIUS PROJECT
        .row
            .col-md-12
                .container.mainblock-content.about-info
                    .row.about-row
                        .col-md-12.about-column
                            h3.h3-about(style='margin-top: 25px;') What is «Vergilius»?
                            img.about-img.img-left(src='/images/hemi.png')
                            |It's easy to find a general information about any existing operating system,
                            |but when it comes to undocumented structures, which lie down somewhere in the
                            |depths of Windows kernel, the task becomes more complicated and in this case even
                            |experienced developers need an assistant. If you looking for one – you're in the right
                            |place.
                            br
                            |Who can be a better guide in this dangerous and absolutely exciting trip to the 
                            del Earth's core
                            |&nbsp; Windows kernel then Vergilius, a man who literally went to Hell with Dante?
                            |Well, of course I can't offer you a company of ancient Roman poet, but this website
                            |with highlighted C/C++ syntax also will be helpful.
                            br
                            |&emsp;Before you start, remember just two things:
                            br
                            |&emsp;&emsp;✅  The descent into Hell is easy.
                            br
                            |&emsp;&emsp;✅  Test your code well and test often!
                    .row.about-row
                        .col-md-12.about-column
                            h3.h3-about About me
                            img.about-img.img-right(src='/images/amy.png')
                            span.white-text Name: 
                            |Svitlana  
                            span.white-text Age: 
                            |22
                            br
                            span.white-text City: 
                            |Kyiv (Ukraine)
                            br
                            span.white-text Status: 
                            |Engineering faculty survivor (with no work experience, but with a great wish to get it),
                            |who is looking for junior Java developer position.
                            br
                            span.white-text For the record: 
                            |That's not my photo, but the one, which was available at the moment. Anyway,
                            |I also wear glasses and look just the same, when I'm trying to understand
                            |how my code works.
                    .row.about-row
                        .col-md-12.about-column
                            img.about-img.img-left(src='/images/coper.png')
                            h3.h3-about Contacts
                            |If you want to share your ideas for "Vergilius Project" improvement, ask me something or
                            |just leave a feedback about this website, please contact me:
                            .row(style='margin-top: 15px;')
                                .col-md-12
                                    .row
                                        .col-md-1
                                            img.round-pic(src='/images/mail.png')
                                        .col-md-5.about-contact-col
                                            | storchak_sv@ukr.net
                                        .col-md-1
                                            img.round-pic(src='/images/linked.png')
                                        .col-md-5.about-contact-col
                                            a.about-links(href="https://www.linkedin.com/in/svitlana-storchak-112706170/" tabindex="-1")
                                                | Svitlana Storchak
                                    .row
                                        .col-md-1
                                            img.round-pic(src='/images/github.png')
                                        .col-md-5.about-contact-col
                                            a.about-links(href="https://github.com/RevJay" tabindex="-1")
                                                | github.com: RevJay
                                        .col-md-1
                                            img.round-pic(src='/images/loca.png')
                                        .col-md-5.about-contact-col
                                            | Kyiv, Ukraine
