extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Admin';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href="/" tabindex="-1")  Home
                li.list-inline-item Admin
    .container.indent
        .mainblock
            div(style='text-align:center;')
                if message
                    = message
            div
                a(class="logout" href="/logout" tabindex="-1") Log out
            div
                form(method="post" enctype="multipart/form-data" action="/admin")
                    div(style='text-align:center;')
                        |Choose a file to upload:
                        label.btn.btn-default
                            input(type='file', name='file', tabindex="-1")
                    div(style='text-align:center;')
                        |Upload your file:
                        label.btn.btn-default
                            input(type='submit', value='Upload', tabindex="-1")
