extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Architecture';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Architecture
    .container.indent
        .mainblock(style="background-image: url('/images/bback.jpg') !important; min-height: 610px;")
            .div.hero-galax(style="top: 25%; left: 35%")
                h1(style="font-weight: 900; font-size: 45px; margin-bottom: 30px;") Choose your system:
                .row
                    .col-md-6
                        a.btn.btn-styled(href="/arch" tabindex="-1" style="text-shadow: 0 0 0px white; width: 160px;") x86
                        //h1(style="font-weight: 900; font-size: 45px; margin-top: 20px;")
                            a.gal(href="/kernelsx86" tabindex="-1") x86
                    .col-md-6
                        a.btn.btn-styled(href="/arch" tabindex="-1" style="text-shadow: 0 0 0px white; width: 160px;") x64
                        //h1(style="font-weight: 900; font-size: 45px; margin-top: 20px;")
                            a.gal(href="/kernelsx64" tabindex="-1") x64

        //.mainblock(style="background-image: url('/images/bback.jpg') !important;")
            .row
                .col-md-2
                .col-md-4
                    img.galax(src='/images/gala.jpg')
                    .div.hero-galax
                        h1(style="font-weight: 900; font-size: 45px;")
                            a.gal(href="/kernels" tabindex="-1") x86
                    .div.hero-galax(style="top: 7%; left: 52%; width: 100%")
                        h1(style="font-weight: 900; font-size: 45px;") Choose your system:
                .col-md-4
                    img.galax(src='/images/gala.jpg')
                    .div.hero-galax
                        h1(style="font-weight: 900; font-size: 45px;")
                            a.gal(href="/kernels" tabindex="-1") x64
                .col-md-2



