extends /partials/page

block title
    title Vergilius Project | 404
block content
    .hero-image(style="background: url('/images/austro2.jpg') !important;")
        .hero-text.err(style="color: #E0CD61;") - Houston, we have a problem...
        .hero-text.err(style="font-size: 90px; top: 33%; left: 54%; font-weight: 700;") Page not found
        .hero-text.err(style="font-size: 185px; top: 49%; left: 55%; font-weight: 900;") 404




