extends /partials/page

block title
    title Vergilius Project | 404
block content
    .jumbotron.jumbotron-fluid.jumb-error
        .container-fluid
            .row
                .col-md-6
                .col-md-6(style='text-align:left; padding-top: 60px;')
                    h2.err
                        | - Houston, we have a problem...
            .row
                .col-md-6
                .col-md-6(style='padding-top: 60px; text-align:center')
                    h1.err
                        | Page not found
            .row
                .col-md-6
                .col-md-6(style='padding-top: 30px; text-align:center')
                    h1.super-err
                        | 404




