<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vergilius</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Say hello to the world!!!</h3>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Enter your nickname: <input type="text" th:field="*{nickname}" /></p>
    <p>Enter your message: <input type="text" th:field="*{message}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>