extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Home';
block content
    .hero-image
        .hero-text
            h1 I LOVE CSS!!!
            h3 Kernels Kernels Kernels
            p Jade. Spring. Java



