extends /partials/page

block title
    title Vergilius Project

block content
    .container.mycontainer
        div(style="padding-bottom: 3px;")
            h4(style='text-align: left') Operating systems:
        div
            ul(type='none', style='padding-left: 25px;')
                for i in os
                    li: p
                        a(href="/os/#{i.osname}") #{i.idopersys} #{i.osname}

