extends /partials/page

block title
    title Vergilius Project | Home
    -var selected = 'Home';
block content
    .hero-image
        .hero-text.home
            h1 Take a look into the depths of
            h1 Windows' kernels and
            h1 reveal more than 60 000
            h1 undocumented structures
            h3(style="text-align:left; padding: 10px 10px; text-shadow: 0 0 3px black; color: #8894ae;") «The descent into Hell is easy...&nbsp;»
            a.btn.btn-styled.explore(href="/kernels" tabindex="-1") Explore kernels!




