extends /partials/page
block title
    title Vergilius Project
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Kernels
    .container.indent
        .mainblock(style="background-color: #141422; padding: 5px 15px;")
            .row(style="background-image: url('/images/multi.png') !important; border-radius: 0.5rem; border: solid 2px #262633; height: 660px;")
                h2.text-center.kercap System architecture
                .hero-text(style="left: 34%; top: 49%;")
                    a.kernels-ht(href="/kernels/x86" tabindex="-1" style="text-align: right;") x86
                .hero-text(style="left: 67%; top: 49%;")
                    a.kernels-ht(href="/kernels/x64" tabindex="-1" style="text-align: right;") x64







