extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Kernels
    .container.indent
        .mainblock
            p(style='text-align: left; font-size: 33px; font-weight: 600') Kernels:
                div
                    ul(type='none')
                        for i in os
                            li: p
                                a(href="/os/#{i.osname}" class='listos' tabindex="-1") #{i.idopersys} #{i.osname}