extends /partials/page
block title
    title Vergilius Project
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Kernels
    .container.indent
        .mainblock.kernels
            h2 Choose your system:
                .row.row-kernels
                    .col-md-6
                        a.btn.btn-styled.kernel.pict.pictleft(href="/kernels/x86" tabindex="-1") x86
                        div.kernel-line(style="left: 35%; margin-top: 157px; width: 433px; transform: rotate(-20deg);")
                    .col-md-6
                        a.btn.btn-styled.kernel(href="/kernels/x86" tabindex="-1" style="left: 10%; margin-top: 68px; z-index: 101")
                        a.btn.btn-styled.kernel(href="/kernels/x64" tabindex="-1" style="left: 27%; margin-top: 98px;")
                        a.btn.btn-styled.kernel.pict.pictright(href="/kernels/x64" tabindex="-1") x64
                        div.kernel-line(style="left: 24%; margin-top: 194px; width: 188px; transform: rotate(-130deg);")






