extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Kernels
    .container.indent
        .mainblock(style="background-image: url('/images/bback.jpg') !important; min-height: 610px;")
            h2(style="font-weight: 900; text-align: center; margin-top: 30px;") Choose your system:
                .row(style="margin-top: 25px;")
                    .col-md-6
                        a.btn.btn-styled(href="/kernels/x86" tabindex="-1" style="text-shadow: 0 0 0px white; width: 160px; position: absolute; left: 67%") x86
                    .col-md-6
                        a.btn.btn-styled(href="/kernels/x64" tabindex="-1" style="text-shadow: 0 0 0px white; width: 160px; position: absolute; left: 5%") x64
            //.div.hero-galax(style="top: 25%; left: 35%")
                h1(style="font-weight: 900; font-size: 45px; margin-bottom: 30px;") Choose your system:
                .row
                    .col-md-6
                        a.btn.btn-styled(href="/kernels/x86" tabindex="-1" style="text-shadow: 0 0 0px white; width: 160px;") x86
                    .col-md-6
                        a.btn.btn-styled(href="/kernels/x64" tabindex="-1" style="text-shadow: 0 0 0px white; width: 160px;") x64






