extends /partials/page

block title
    title Vergilius Project | Log in
block content
    .container.mainblock
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex='-1') > Home
                        li.breadcrumb-item.active(aria-current='page') Login
        .row
            .col-md-12
                .container.mainblock-content
                    .container(style="width: 50%; margin: 0 auto;")
                        h3.h3-login(style="padding-bottom: 0px; padding-top: 40px;")  Welcome!
                        form.form-horizontal(action='/login', method='post' style="padding-top: 15px;")
                            .form-group.login-form
                                label.control-label(for='username') Username:
                                input#username.form-control(type='text', name='username', placeholder='Enter username', tabindex='-1')
                            .form-group.login-form
                                label.control-label(for='password') Password:
                                input#password.form-control(type='password', name='password', placeholder='Enter password', tabindex='-1')
                            .form-group(style="text-align: right; width: 30.2rem")
                                input(type='hidden', name='${_csrf.parameterName}', value='${_csrf.token}')
                                button.btn.btn-info.submit-but(type='submit', tabindex='-1') Submit

