extends /partials/page

block title
    title Vergilius Project

block content
    div
        ul.list-inline.breadcrumb(type='none')
            li.list-inline-item
                a(href="/") Home
            li.list-inline-item.active Login form
    .container.mycontainer
        div(style='margin-top: 8px; margin-bottom: 5px;')
            h5(style='text-align: center') Fill the fields below
        div.d-flex.justify-content-center
            form.form-horizontal(action='/admin')
                .form-group
                    label.control-label.col-sm-2(for='email') Email:
                    .col-sm-10
                        input#email.form-control(type='email', style='width: 321px;', placeholder='Enter email')
                .form-group
                    label.control-label.col-sm-2(for='pwd') Password:
                    .col-sm-10
                        input#pwd.form-control(type='password', style='width: 321px;', placeholder='Enter password')
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type='submit' style='margin-left:255px') Submit