extends /partials/page

block title
    title Vergilius Project | Log out
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item.active
                    | >
                    a(href='/' tabindex="-1")  Home
    .container.indent
        .mainblock
            p You have logged out.