extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Statistics';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Statistics
    .container.indent
        .mainblock
            h4 Look at some interesting information below ^-^
