html
    head
        title Vergilius Project
    body
        div
            ul
                for i in res1
                    li(type="none"): p(style='white-space:pre;') #{i}
            ul
                for j in res2
                    li(type="none"): p(style='white-space:pre;') #{j}
            ul
                for k in res3
                    li(type="none"): p(style='white-space:pre;') #{k}